* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn {
    background-color: #469165;
    border: none;
    padding: 13px 22px; 
    border-radius: 6px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.logo {
    width: 139px;
    height: 60px;
}

/* main style  */
header {
    background: #ffffff;
}

nav {
    width: 71%;
    max-width: 1440px;
    /* border: 1px solid red;  */
    margin: 0px auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}