* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
.btn {
    background-color: #469165;
    border: none;
    padding: 12px 16px; 
    border-radius: 6px;
    width: 164px;
    height: 44px;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: #4ec09a;
    color: #100f0f;
    transition: 0.3s;
}
.logo {
    width: 139px;
    height: 60px;
}

/* main style  */
header {
    background: #ffffff;
}

nav {
    width: 71%;
    max-width: 1440px;
    /* border: 1px solid red;  */
    margin: 0px auto;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.hero{
    background-image:url(img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    
}

.hero-sec , .card-heading , .challenge-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 120px;
    text-align: center;
}


.early-access{
    background-color:#FFFFFF ;
    color: #30B868;
    border-radius: 1000px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.btn-conteiner {
    padding: 32px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}



.hero-button{
    background-color: #469165;
    border: none;
    padding: 13px 22px; 
    border-radius: 6px;
    font-weight: 600;
    color: white;
    align-items: center;
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #4ec09a;
    color: #100f0f;
    transition: 0.3s;
}
.arrow-icon {
  display: flex;
  align-items: center;
}

.hero-button2 {
    background: none;
    border: 1px solid #ffffff;
    padding: 13px 22px; 
    border-radius: 6px;
    font-weight: 600;
    color: white;
    align-items: center;
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
}

.hero-button2:hover {
    background-color: #4ec09a;
    color: #100f0f;
    transition: 0.3s;
}
.play-icon {
  display: flex;
  align-items: center;
}

.notes {
    padding: 80px 20px;
    text-align: center;
}

.notes-text {
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    line-height: 40px;
}
.notes-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 40px ;
    gap: 20px;
    
}

.notes-cards .card {
    width: 71%;
    max-width: 1440px;
    height: 220px;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    gap: 16px;
}

.card img {
    background-color: #F95555;
    height: 40px;
    border-radius: 40px ;
    padding: 10px;
}

.notes-cards h1 , h5 {
    font-size: 16px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 8px;
}

.notes-cards , .notes-text p {
    font-size: 14px;
    color: #627382;
    line-height: 1.5;
}

.bran-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 120px;
}

.bran-img {
    height: 400px;
}
.bran-checkbox{
    margin: 20px 0px;
}

.bran-checkbox p{
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}